<div class = "card">
    <div class = "card-header">
        <div class = "row">
            <div class = "col-8">
                <h4 class = "font-weight-bold">All Recipes</h4>
            </div>
            <div class = "col-4">
                <a href="/addRecipe" class="btn btn-success float-right"><i class="fa fa-plus mr-1">Add Recipe</i></a>
            </div>
        </div>
    </div>
    <div class = "card-body">
        <table class = "table table-hover">
            <thread class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Ingredients</th>
                    <th scope="col">Instructions</th>
                </tr>
            </thread>
            <tbody>
                <% if(recipes.length > 0) { %>
                    <% for(let recipe of recipes) { %>
                    <tr>
                        <th scope="row"><%= recipe.Title %></th>
                        <td><%= recipe.Ingredients %></td>
                        <td><%= recipe.Instructions %></td>
                        <td>
                            <a href="/updateRecipe/<%= recipe._id %>" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                            <a href="/deleteRecipe/<%= recipe._id %>" class="btn btn-sm btn-danger"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    <% } %>
                
                <% } else { %>
                <tr>
                    <td>No data found</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>